# Build and deploy Docker container to Azure Web App - life-context-audio-upload

name: Build and deploy Docker container to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  AZURE_WEBAPP_NAME: life-context-audio-upload
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push container image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: index.docker.io/${{ secrets.DOCKER_USERNAME }}/life-context-api:${{ github.sha }}
          file: ./Dockerfile

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D7F8D5870A3849AD83DF077585783990 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B181C6349347428582B3F2CB9E8BEFE0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_12CC5E92BB594453B93C21B97E766823 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          images: 'index.docker.io/${{ secrets.DOCKER_USERNAME }}/life-context-api:${{ github.sha }}'