# Build and deploy Docker container to Azure Web App - life-context-audio-upload

name: Build and deploy Docker container to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D7F8D5870A3849AD83DF077585783990 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B181C6349347428582B3F2CB9E8BEFE0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_12CC5E92BB594453B93C21B97E766823 }}

      - name: Build and deploy Container App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'life-context-audio-upload'
          slot-name: 'Production'